@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
::-webkit-scrollbar {
  width: 2.5px;
}

::-webkit-scrollbar-track {
  backdrop-filter: blur(15px) saturate(200%);
  -webkit-backdrop-filter: blur(15px) saturate(200%);
  background-color: rgba(var(--foreground-color-rgb), 0.75);
  border-bottom: 1px solid rgba(var(--border-color-rgb), 0.2);
}

::-webkit-scrollbar-thumb {
  background: rgba(207, 207, 207, 0.1882352941);
}

body,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow: hidden;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #171717;
}

.home {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input[type=text], textarea {
  width: 98%;
  height: 100px;
  border: 1.5px solid #313131;
  border-radius: 5px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  background: #282828;
  color: #e7e7e7;
  outline: none;
  padding-left: 10px;
  resize: vertical;
  height: 50px;
}

textarea {
  padding-top: 5px;
  height: 80px;
}

input[type=text]:disabled {
  color: #838383;
}

.btn, input[type=submit] {
  height: 50px;
  background-color: #ffd7be;
  color: #232323;
  cursor: pointer;
  transition: 0.3s;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 5px;
  font-size: medium;
}

input[type=submit]:hover {
  opacity: 0.7;
}

.sidenav {
  height: 100%;
  background-color: #292929;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
.sidenav .spin {
  transition: transform 0.2s ease-in-out;
  transform: rotate(0deg);
}
.sidenav .spin:hover {
  transform: rotate(30deg);
}
.sidenav .logo {
  font-family: "lobster";
  font-weight: normal;
  color: #ff9655;
  font-size: 1.8rem;
  animation: fadein 0.5s ease-in forwards;
  padding: 10px;
}
.sidenav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.sidenav ul li {
  padding: 10px;
}
.sidenav ul li a {
  color: #dcdcdc;
  text-decoration: none;
  font-size: larger;
}
.sidenav ul li a span {
  display: none;
  text-transform: uppercase;
}

.add_post_area {
  height: 100%;
  width: 60vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: scroll;
  gap: 30px;
  flex: 0.45;
  color: #dcdcdc;
  margin: auto;
  border: 1px solid #303030;
  border-bottom: 0;
  border-top: 0;
  overflow-x: hidden;
}
.add_post_area h1 {
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: medium;
  font-style: normal;
  font-weight: 600;
  padding: 20px 0;
  padding-left: 40px;
  border-bottom: 1px solid #303030;
}
.add_post_area form {
  width: 88%;
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 20px;
  align-items: center;
}
.add_post_area form .image-container {
  width: 400px;
  height: 300px;
  border: 1px solid #303030;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.add_post_area form .image-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  pointer-events: none;
  position: absolute;
}
.add_post_area form input[type=file] {
  cursor: pointer;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.add_post_area form .btn-grp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 20px;
}
.add_post_area form .btn, .add_post_area form input[type=submit] {
  width: 100%;
}
.add_post_area form .btn {
  border: 1px solid #ffd7be;
  background-color: transparent;
  color: #ffd7be;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}/*# sourceMappingURL=add.css.map */